<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Magnolia Street Journal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 70px; font-size: 25px; font-family: monospace; font-weight: bold;">
        <div>
            <a class="navbar-brand col-sm" href="/index"><img src="https://media.discordapp.net/attachments/716057588512456764/1042310172925771826/logo.png" alt="Magnolia Street Journal" style="width: 666px; height: 78px;"></a>
            <ul class="nav col-sm">
                <li class="nav-item">
                    <a class="nav-link active" style="color: #34A2A2" href="/index.html">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #3F3F3F" href="/upload.html">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #3F3F3F" href="/userinfo?username={USERNAME}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #3F3F3F" href="#">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img style="max-width:100%; max-height: 100%; " src="https://media.discordapp.net/attachments/716057588512456764/1042677360287293440/hero-placeholder-v2__ScaleMaxWidthWzE2MDBd.jpg">
    </div>
    <center class="mt-3 mb-2 container">
        <a href="/index?day={TODAYTICKS}{INVFLAGS}" class="btn btn-light">View {SECTION}</a>
        <br>
        <hr>
    </center>
    <div class="container-fluid">
        {DATA}
    </div>
    <div class="my-4">&nbsp;</div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="px-3">
            <a href="/index?day={TOMMOROWTICKS}{EXTFLAGS}" class="btn btn-outline-secondary" type="button">
                ←
            </a>
        </div>
        <a>{DATE}</a>
        <div class="px-3">
            <a href="/index?day={YESTARDAYTICKS}{EXTFLAGS}" class="btn btn-outline-secondary" type="button">
                →
            </a>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
