<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Magnolia Street Journal</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <h1 class="title">{USERNAME}'s Information</h1>
        You've succesfully requested information on {USERNAME}'s account.
        <br><br>
            <table>
                <tr>
                    <th>Username</th>
                    <td>{USERNAME}</td>
                </tr>
                <tr>
                    <th>Account Creation Date</th>
                    <td>{CREATIONDATE}</td>
                </tr>
                <tr>
                    <th>Permissions</th>
                    <td>{PERMISSIONS}</td>
                </tr>
                <tr>
                    <th>Is Online</th>
                    <td>{ISONLINE}</td>
                </tr>
                <tr>
                    <th>Is Verified (via email)</th>
                    <td>{ISVERIF}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{EMAIL}">{EMAIL}</a></td>
                </tr>
            </table>
        <br><br>
        <a href="/setperms?username={USERNAME}&perms=admin" class="button">Promote to Administrator</a>
        <a href="/setperms?username={USERNAME}&perms=editor" class="button">Promote to Editor</a>
        <a href="/setperms?username={USERNAME}&perms=s" class="button">Demote to Standard/Contributor</a><br>
        <a href="index" class="button">Return to Front Page</a>
    </center>
</body>
</html>