<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Magnolia Street Journal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light border-bottom">
        <center class="container">
            <a class="navbar-brand col-sm" href="/index"><img src="https://media.discordapp.net/attachments/716057588512456764/1042310172925771826/logo.png" alt="Magnolia Street Journal" style="width: 333px; height: 39px;"></a>
        </center>
    </nav>
    <br>
    <div class="container">
        <center>
            <h1 class="title" style="font-family: fantasy;">Verify your MSJ Account</h1>
            <p class="text-muted">Check your email(we sent it to {EMAIL}) and your spam folder for a 5-digit verification code from no-reply@themsj.org</p>
            {BANNERMSG}
        </center>
        <hr><br>
        <form action="/validate_code" method="get">
            <label for="verifcode">Verification Code:</label>
            <input class="form-control" type="text" name="verifcode" id="verifcode" />
            <br>
            <center><input type="submit" value="Verify" class="btn btn-outline-success" /></center>
        </form>
        <hr>
        <center>
            <a href="/verify_landing?resend=true" class="btn btn-outline-secondary">Resend Verification Code</a>
        </center>
    </div>
</body>
</html>