<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Magnolia Street Journal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light border-bottom">
        <center class="container">
            <a class="navbar-brand col-sm" href="/index"><img src="https://media.discordapp.net/attachments/716057588512456764/1042310172925771826/logo.png" alt="Magnolia Street Journal" style="width: 333px; height: 39px;"></a>
        </center>
    </nav>
    <br>
    <div class="container">
        <center>
            <h1 style="font-family:fantasy" class="title">{TITLE}</h1>
            <hr>
            <p class="text-muted">Written by <a href="/userinfo?username={AUTHOR}">{AUTHOR}</a>, {PUBLISHTIME} (uploaded {UPLOADTIME})</p>
        </center>
        <br><br>
        <p>{BODY}</p>
    </div>
    <hr>
    <div class="container">
        <hr>
        <b>Submit A Comment</b>
        <form action="/comment" method="post">
            <textarea class="form-control" rows="3" id="msg" name="msg" placeholder="Youre comment here."></textarea>
            <div class="mt-1">
                <input type="submit" value="Comment" class="btn btn-outline-secondary" />
            </div><br>
            <input type="hidden" name="id" id="id" value="{ARTICLEID}" />
        </form>
        {COMMENTS}
    </div>
</body>
</html>