<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Magnolia Street Journal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light border-bottom">
        <center class="container">
            <a class="navbar-brand col-sm" href="/index"><img src="https://media.discordapp.net/attachments/716057588512456764/1042310172925771826/logo.png" alt="Magnolia Street Journal" style="width: 333px; height: 39px;"></a>
        </center>
    </nav>
    <br>
    <center>
        <h1 class="title" style="font-family: fantasy;">Revise {TITLE}</h1>
        <div class="container"><hr></div>
        <div class="container">
            <form class="form-group" action="/revise" method="post">
                <br>
                <textarea rows="10" id="body" name="body" placeholder="Type or copy and paste your article here."></textarea>
                <br>
                <input type="submit" value="Revise" class="btn btn-outline-secondary" />
            </form>
        </div>
        <a href="index" class="btn btn-outline-secondary">Return to Front Page</a>
    </center>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#body',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
</body>
</html>